.scroll-pane .viewport {
    -fx-background-color: #465773;
}

.grid-pane {
    -fx-hgap: 10;
    -fx-vgap: 20;
    -fx-padding: 15;
    -fx-background-color: #465773;
}

.image-view {
    -fx-effect: dropshadow(gaussian, black, 10, 0.3, 0, 0);
    -fx-cursor: hand;
}