/* Aplica estilos generales a los campos de texto */
.text-field, .password-field {
    -fx-background-color: transparent;
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #666666; /* color del placeholder */
    -fx-padding: 5 10;
}

/* Botón de login */
.button {
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.8);
}
